
#buttonbar {}

#map_go {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    width: 100%;
    height:100%;
}


/*body {margin: 0.3em;}

.mine {width: 95%; margin: 0.1em;}

#buttonbar {background-color: whitesmoke;}

#map_go {
    border: 1px solid red; 
   
    position:absolute;
    overflow:hidden;
    padding-bottom:56.25%;
    
    width: 100%;
    height:0;
}*/