@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Efectos.css" rel="stylesheet" />

<div class="page-container">
    <div class="page-content">
        <div class="row">

            @*-------------------------Content------------------------------------------*@
            <div class="col-md-9 animated  fadeIn">
                <div class="panel panel-default ">
                    <div class="panel-body">
                        <div class="panel-heading">
                            <h2 class="panel-title"><b><i>Universidad Tecnologica de Honduras</i></b></h2>
                        </div>
                        <p align=center> <img src="~/Content/img/UTHLogo/UTH.png"  height="300" width="400"></p>
                        <fieldset>
                            <legend><h2><b>Mission</b></h2></legend>
                            <h3 align=center><i><u>Mission</u></i></h3>
                            <h5>
                                We are a service department responsible for administering, securing and ensuring the integrity of the company’s data. We are committed to continuous learning so we may actively offer technological innovative solutions in both software and hardware to our customers with the goal of providing them the most efficient and effective tools for them to optimize their productivity. We comply with all applicable legal requirements and internal policies.
                                <br><br /><br><br />
                            </h5>
                        </fieldset>

                        <fieldset>
                            <legend><h2><b>Misión</b></h2></legend>
                            <h3 align=center><i><u>Misión</u></i></h3>
                            <h5>
                                Somos un departamento de servicio encargado de administrar la información, garantizar la integridad de la misma, permanecer a la vanguardia de la tecnología y conocimientos necesarios para promover , proporcionar e implementar mejoras continuas en el Software y Hardware , cubriendo así las necesidades de nuestros clientes internos y externos, en compromiso con el cumplimiento de las leyes políticas internas aplicadas a nuestro ámbito.
                            </h5>
                        </fieldset>

                    </div>
                </div>
            </div>

            @*-------------------------Whatch-----------------------------------------*@
            <div class="col-md-3 animated  fadeIn">
                <div class="widget widget-default widget-padding-sm">
                    <div class="widget-big-int plugin-clock">
                        13<span></span>51
                    </div>
                    <div class="widget-subtitle plugin-date">
                        Friday, July 10, 2015
                    </div>
                    <div class="widget-controls"></div>
                </div>
            </div>

            @*---------------------------contact------------------------------------*@
            <!-- CONTACT LIST WIDGET -->
            <div class="col-md-3 animated slideInUp">
                <div class="panel-heading">
                    <h1 class="panel-title"><b>Integrantes</b></h1>
                    <ul class="panel-controls"></ul>
                </div>

                <div class="panel-body list-group list-group-contacts">


                    <a href="#" class="list-group-item">
                        @*<div class="list-group-status status-online"></div>*@
                        <img src="~/Content/assets/images/users/Fernando.jpg" class="pull-left" alt="Fernando Rivera" />
                        <span class="contacts-title">Fernando Rivera</span>
                        <p>IT Manager</p>
                        <p align=center>Ext: 2009</p>
                        <p align=center>Mail : frivera@simtex-international.com</p>
                        @*<div class="list-group-controls">
                            <button class="btn btn-success"><span class="fa fa-phone"></span></button>
                        </div>*@
                    </a>
                    <a href="#" class="list-group-item">
                        @*<div class="list-group-status status-online"></div>*@
                        <img src="~/Content/assets/images/users/Allan2.jpg" class="pull-left" alt="Allan Godoy" />
                        <span class="contacts-title">Allan Godoy</span>
                        <p>Web Developer Jr.</p>
                        <p align=center>Ext : 2010</p>
                        <p align=center>Mail : agodoy@simtex-international.com</p>
                        @*<div class="list-group-controls">
                            <button class="btn btn-success"><span class="fa fa-phone"></span></button>
                        </div>*@
                    </a>

                    <a href="#" class="list-group-item">
                        @*<div class="list-group-status status-online"></div>*@
                        <img src="~/Content/assets/images/users/Willians.png" class="pull-left" alt="Willians morales" />
                        <span class="contacts-title">Willians Morales</span>
                        <p>IT Support</p>
                        <p align=center>Ext : 2010</p>
                        <p align=center>Mail : wmorales@simtex-international.com</p>
                        @*<div class="list-group-controls">
                            <button class="btn btn-success"><span class="fa fa-phone"></span></button>
                        </div>*@
                    </a>
                </div>
            </div>
            @*------------------------------------------------------------*@
        </div>
    </div>
</div>